*{
    margin: 0;
    padding: 0;
}




#producTitle{
    text-align: center;
    color: black;
    font-size: 5em;
    font-family: fantasy;
    font-weight: 500;
}


.productinput{
    width: 20%;
    vertical-align: middle;
    text-align: center;
}


/* CHIMI 3D - Impresiones y Diseño 3D */
.clase1{
    border-top: 0;
    background-image: url("../../img/fondoimp.jpg");
    background-color: rgba(255, 255, 255, 0.5); /* Establece el color de fondo con opacidad */
    background-blend-mode: multiply; /* Opcional: aplica una mezcla de multiplicación para mejorar la opacidad */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    transition: all 400ms ease-out;
    text-align: center;
    margin: 0;
}

.clase1 h1{
    font-size: 50px;
    font-family: cursive;
    color: #000;
    margin: auto;
    visibility: visible;
    transition: all 400ms ease-out;
}

.clase1 h3{
    color: #fff;
    font-size: 30px;
    font-family: cursive;
    margin: auto;
    display: none; /*Se usa display:none en vez de visibility:hidden para que no aparezc*/
    transition: all 400ms ease-out;
}

.clase1 p{
    color: #fff;
    font-size: 25px;
    font-family: cursive;
    margin: auto;
    display: none;
    transition: all 400ms ease-out;
}

.clase1:hover{
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el fondo al estado hover */
    opacity: 1;
}

.clase1:hover > h1{
    color: #fff;
}

.clase1:hover > h3{
    display: contents;
}

.clase1:hover > p{
    margin-top: -200px;
    display: contents;
}



.clase2{
    position: relative;
    display: inline-flex;
    width: 100%;
	margin-top: -20px;
    background-image: url(../../img/Banner2.png);
    justify-content: center;
    align-items: center;
}

.clase2_2{ 
    color: whitesmoke;
    font-size:x-large;
}

.clase2_3{  
    width: auto;
    color: whitesmoke;
    font-size:x-large;
    justify-content: center;
    align-items: center;
    background-color: black;
}


/* PRODUCTOS Y SERVICIOS */
/* Productos */

.containerGrid{
    width: 100%;
    background-color: #302f30;;
}

.gridContainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    justify-content: center;
    grid-row-gap: 0; 
}

.gridItem{
    max-height: auto;
    max-width: auto;
    text-align: center;
    margin-bottom: 2em;
    
}

.gridImage{
    border-radius: 2em;
    width: 400px;
    height: 500px;
    
}

.gridImage1{
    max-width: 400px;
    max-height: 480px;
}

.tituloGrid h2{
    font-size: 4em;
    font-family: fantasy;
    color: whitesmoke;
    text-align: center;

}

/* Servicios */

.containerGridOne{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    /*grid-row-gap: 2%; */
}

.gridContainerOne, .gridContainerFour, .gridContainerFive{
    text-align: center;
    margin: auto; 
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
     
}

.show {
    opacity: 1;
    transform: translateX(0);
  }

.gridContainerTwo{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #302f30;
    height: 480px;
    text-align: center;

}
.gridContainerThree{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #302f30;
    height: 480px;
    text-align: center;
}

.gridContainerSix{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #302f30;
    height: 480px;
    text-align: center;

}

.containerGridOne h2 {
    font-size: xx-large;
    font-family: cursive;

}

.containerGridOne p {
    font-size: x-large;
    font-family: cursive;

}

.containerGridOne button{
    font-size: x-large;
    font-family: cursive;
    width: 6em;
    height: 2em;
    margin: 1em 1em 0;
    color:#fff;
    background-color: rgb(0, 0, 0);
    border-radius: 1em;

}


/* PRODUCTOS */

.productItem{
    margin: 2em;
    max-height: auto;
    max-width: auto;
    text-align: center;
    border: 2px solid #000; /* 2px de ancho, sólido y de color negro */
    padding: 20px; /* Agrega un espacio interno para separar el contenido del borde */
    border-radius: 2em;
    
}

.productImage{
    border-radius: 2em;
    width: 300px;
    height: 300px;
}

.gridImage:hover{
    transition: transform .5s;
    transform: scale(1.1);
}

.productImage1{
    max-width: 400px;
    max-height: 480px;
}

.productItem h2{
    font-size: 200%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItem h3{
    font-size: 200%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItem h4{
    font-size:100%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItem button{
    font-size: x-large;
    font-family: cursive;
    width: 6em;
    height: 2em;
    margin: 1em 1em 0;
    color:#fff;
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
}

.gridH4{
    font-size: 200%;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0.5em;
    /*margin-bottom: 0.5em;*/
    margin-top: 0.5em;
}

.clase6 h2{
    margin-top: 0.5em;
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
}

.clase5{
    position: relative;
    background-color:rgba(187, 184, 184, 0.212);
    display: inline-flex;
    width: 100%;
    text-align: center;
    margin-top: -40px;
}

/* CARROUSEL */

.carrousel {
    margin: auto;
    width: 30%;
  }

.carrouselContainer h2{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 4em;
    font-family: cursive;
  }

.carrouselContainer {
    background-color: rgb(223, 223, 223); 
    text-align: center;
  }
  
.carrouselCaption h3{
    -webkit-text-stroke: 1px black;
}
 
/* PRODUCTOS PAGE */ 

.listaproduct{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;

}



.divUsers{
    background-image: url(../../img/impresion3d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    text-align: center;
    
}

.formUsers{  
    background-color: #f2f2f2;
    width: 20%;
    margin: auto;
    height: auto;
    border-radius: 2em;
}

.formUsers input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #000;
    border-radius: 0.3em;
    cursor: pointer; /* Cambia el tipo de cursor */
    font-family: cursive;
}

.formUsers h1{
    font-size: xx-large;
    font-family: cursive;
}

.buttonForm{
    font-size: large;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    border-radius: 0.3em;
    color: #fff;
    background-color: #000;
}

.creaCuenta{
    display: none;
}

.creaCuenta1{
    display:contents;
}

.buttonActive{
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    border-radius: 0.3em;
    background-color:rgba(80, 82, 82, 0.966);
    color: #fff;
}

.buttonDisactive{
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    border-radius: 0.3em;
    background-color:#000;
    color: #fff;
}

/* DETAIL PAGE*/

.productItemDetail{
    margin: 2em;
    max-height: auto;
    max-width: auto;
    text-align: center;
    border: 5px solid #000; /* 2px de ancho, sólido y de color negro */
    padding: 20px; /* Agrega un espacio interno para separar el contenido del borde */
    border-radius: 2em;
    
}

.productImageDetail{
    border-radius: 2em;
    width: 500px;
    height: 500px;
    margin-bottom: 0.5em;
}

.productItemDetail h2{
    font-size: 200%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItemDetail h3{
    font-size: 200%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItemDetail h4{
    font-size:100%;
    font-weight: 500;
    font-family: fantasy;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.productItemDetail button{
    font-size: 1em;
    font-family: cursive;
    width: auto;
    height: auto;
    margin: 1em 1em 0;
    color:#fff;
    background-color: rgb(0, 0, 0);
    border-radius: 1em;
    padding: 0.5em;
}

.productInfoDetail{
    text-align: center;
    vertical-align: middle;

}

.customBorder{
    border: 1px solid #838383;
    padding: 20px;
    border-radius: 1em;
}

.opcionesCantidad{
    size: x-large;
    cursor: pointer;
    font-family: cursive;
}

.productInfoDetail input{
    text-align: center;
    font-family: cursive;
}

.productInfoDetail option{
    text-align: center;
    font-family: cursive;
}

